.quiz-holder {
    text-align: center;
    max-width: 50vw;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 15px;
}

.question {
    margin-bottom: 30px;
}

.answers {

}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.correct {
    background-color: green;
}

.error {
    background-color: red;
}