.edit-box {
    margin-top: 30px;
    text-align: left;
}

.edit-box input {
    width: 100%;
    box-sizing: border-box;
}

.edit-box button {
    background-color: #fff;
    color: #000;
}

.filter {
    
}