.add-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.add-row button {
    margin-left: 30px;
}

.total {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}