html,
body {
  scroll-behavior: smooth;
}

body {
  padding: 30px;
}

button {
  border: 0;
  padding: 10px;
  margin: 0;
  background-color: #4c9bd4;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

button:hover {
  opacity: 0.7;
}

button:disabled {
  cursor: auto;
  opacity: 0.5;
}

button:disabled:hover {
  opacity: 0.5;
}

input {
  padding: 8px 10px;
}

.z-index {
  z-index: 9999;
}

.holder {
  display: flex;
  gap: 30px;
}

.box {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 15px;
  width: 50%;
}

.box:nth-child(1) {
  width: 40%;
}

.box:nth-child(2) {
  width: 60%;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label {
  display: block;
  margin-bottom: 10px;
}

.form-row.error input {
  border-color: red;
}
