.filter {
    border-top: 1px solid #000;
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit-box {
    text-align: left;
    margin-top: 30px;
}

.edit-box input {
    width: 100%;
    box-sizing: border-box;
}

.button-holder {
    text-align: center;
}

.button-holder button {
    background-color: #fff;
    color: #000;
}